{
  "access_token": "access_token_12345abcdefghijkl",
  "refresh_token": "refresh_token_1234567890abdefghijklmnopqrstuvwxyzz",
  "expires_at": "2023-05-27T17:38:12-07:00",
  "scope": [
    "channel:edit:commercial",
    "channel:manage:polls",
    "moderator:manage:banned_users",
    "moderator:manage:chat_messages",
    "moderator:manage:chat_settings",
    "moderator:read:chatters"
  ],
  "token_type": "bearer"
}
